/* Don't inspect this shitty code  */

@import url('main.css');
@import url('fonts.css');
@import url('https://cdn-dev.pages.dev/css/dev.css');


body{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
     user-select: none;
     border: none;
    padding: 5px;
    height: 100vh;
}
.centeritem{
    margin: 20.7px;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 50px;
    color: #fff;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
img{
    background-color: black;
    height: 200px;
    border-radius: 50%;
    width:200px; 
    object-fit: contain;
    object-position: center;
    border: inset 5px black ;
}
.content{
    margin: 30px;
    display:grid;
    place-items: center;
    text-align: justify;
    text-justify: center;
    font-family: 'Roboto', sans-serif;
}
.buttonbar{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
button{
    margin: 5px;
    padding: 5px;
    border-radius: 3px;
    transition: 400ms;
}
button:hover{
    border-radius: 50%;
    transform: scale(1.01);
}
footer{
    padding: 10px;
    margin: 10px;
    font-family: 'Pacifico', cursive;
}
footer a{
    color: rgb(0, 140, 255);
    font-family: 'Open Sans', sans-serif;
}
.centeritem h1{
    padding: 10px;
    margin: 10px;
    color: rgb(5, 247, 255);
    text-shadow:
      0 0 7px rgb(5, 247, 255),
      0 0 10px rgb(5, 247, 255),
      0 0 21px rgb(5, 247, 255),
      0 0 42px rgb(0, 162, 255),
      0 0 82px rgb(0, 162, 255);
}
.centeritem h2{
    font-family: 'Handlee', cursive;
}