<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <link rel="shortcut icon" href="{{.Params.userpic}}" type="image/x-icon">
    <meta name="description" content="{{.Content}}">
    <meta property="og:title" content="{{.Title}}">
    <meta property="og:description" content="{{.Content}}">
    <meta property="og:image" content="{{.Params.userpic}}">
    <meta name="twitter:title" content="{{.Title}}">
    <meta name="twitter:description" content="{{.Content}}">
    <meta name="twitter:image" content="{{.Params.userpic}}">
    <meta name="twitter:card" content="summary_large_image">
    <title>{{.Title}}'s Bio</title>
    <link rel="stylesheet" href="{{.Site.BaseURL}}css/single.css">
</head>